.box{
    height: 100px !important;
    width: 100px!important;
    border-radius: 8px;
    /* background-color: #00ffff; */
    margin: 10px;
}
.cntr{
    display: flex;
    justify-content: center;
}